/* Main CSS File */

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

body {
  text-align: center;
  background-color: #fff;
}
a:hover 
 {
  color: red;
  text-decoration: none;
}
p {
  text-align: center;
}
/* Header Section */

.header_inside {
  border-bottom: 4px solid #bbb;
  margin: 20px 0 20px;
}

.logo {
  padding-top: 20px;
  vertical-align: middle;
}
/* Header Logo Left Side */
.logo img {
  max-width: 120px;
  max-height: 70px;
  vertical-align: middle;
  display: inline-block;
}

.header-text {
  text-transform: uppercase;
  color: #2d3c49;
}

/* Extra Small Screens */

@media (max-width: 46em) { 

  .header-text, .logo{
    text-align: center;
    vertical-align: middle;
  }

  .header-text h1 {
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 0;
  }

  .header-text h3 {
    font-weight: 400;
    margin-top: 0.5em;
  }

}
/* Medium and Larger Screens */

@media (min-width: 46em) { 
/* Name & Subtext Header Alignment */
  .header-text {
    text-align: right;
  }
/* Header Logo - Left Side */
  .logo {
    text-align: left;
	vertical-align: middle;
  }
/* Title Full Name */
  .header-text h1 {
    font-size: 3em;
    font-weight: 100;
	margin-top: 0;
    margin-bottom: 0;
  }
/* Title Full Name Subtext */
  .header-text h3 {
	font-size: 1em;
    font-weight: 500;
    margin-top: 0;
	margin-bottom: 0;
	
  }

}

/* Featured Work Section */

main img {
  width: 100%;
}
/* Featured Work Title */
section h2 {
  text-align: left;
  font-size: 2.5em;
  font-weight: 500;
  color: #7d97ad;
  
}
/* Website Titles */
section h3 {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: #7d97ad;
  
}
section a {
  text-align: center;
  font-size: 1em;
  color: #2d3c49;
  text-decoration: none;
}

/* Article Images Block Display */
article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  max-height: 250px;
  width: auto;
  height: auto;
}